* {
    padding: 20px;
    margin: 0;
}

body {
    font-family: "微软雅黑";
    font-size: 15px;
}

.container {
    background-color: #eee;
    border: #999 1px solid;
    overflow: hidden;
    margin: auto;
    min-width: 600px;
}


.left {
    float: left;
    width: 200px;
    background: #FFF;
    border: #999 1px solid;
    padding: 0px;
    text-align: center;
}


.center {
    margin-left: 240px;
    margin-right: 160px;
    background: #FFF;
    border: #999 1px solid;
}
.right {
    float: right;
    width: 120px;
    background: #FFF;
    border: #999 1px solid;
    text-align: center;
    padding: 0;
    
}

img {
    height: 80px;
    width: 80px;
}