body {
    background: #5C5C5C;
}
.main {
    position: relative;
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    background: white;
}

.head {
    position: absolute;
    top: 0;
    left: 44px;
    width: 892px;
    height: 61px;
    border-bottom: solid 2px #938e8c;
}
#box1{
    width: 110px;
    height: 61px;
    position: relative;
    background: #D45D5B;
}
#box2 {
    position: relative;
    right: 0;
}

#head-left {
    position: absolute;
    left:0;
    bottom: 0;
    margin: 0; 
    color: white;
    font: 12px SimHei; 
}
#head-right {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    font: 12px SimHei; 
    color: #D45D5c;
}

#row1 {
    width: 892px;
    position: absolute;
    top: 91px;
    left: 44px;
}
#row1-right {
    position: absolute;
    right: 0;
    top: 0;
}
.title1{
    margin: 0;
    font: 24px Microsoft YaHei;
    text-decoration: underline;
    text-transform: capitalize;
    font-variant: small-caps; 
}
.subtitle1 {
    margin: 0;
    font: 12px "楷体";
}
#box3 {
    position: relative;
    bottom: 0;
}
#bottom1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 55px;
}

